body {
    font-family: 'Lato', sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

img {
    width: 200px;
    border-radius: 50%;
    margin: 20px;
    border: 2px solid #333;
}

.container {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    height: 100vh;
    gap: 20px; /* Cleaner way to create space between child elements */
}

aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-right: 1px solid #ccc;
}

main {
    flex: 3;
    padding: 20px;
    overflow-y: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Slightly increased shadow for a bit more depth */
}

aside img {
    width: 60%;
    height: auto;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    aside {
        border-right: none;
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px; /* Adding space at the bottom for mobile view */
    }
}

header, nav, footer {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s ease-in-out; /* Smooth transition */
}

nav a:hover {
    color: #0056b3;
}

section, .project-card, .research-card {
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #f9f9f9; /* Slight background to distinguish from main background */
}

.project-card img, .research-card img {
    max-width: 100%;
    border-radius: 5px;
}

h2, h3 {
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

h4 {
    margin-top: 15px;
    font-weight: 500; /* Semi-bold to provide slight distinction */
    color: #555;
}

footer {
    margin-top: 40px;
}

/* Button styles for resume download and visit Pumatics website */
.download-button, .visit-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-button:hover, .visit-button:hover {
    background-color: #0056b3;
}
