<!-- Site footer: copyright only. Blog posts are CC BY 4.0; that license
     is also stated on each post. -->

<footer
  aria-label="Site Info"
  class="
    d-flex flex-column justify-content-center text-muted
    flex-lg-row justify-content-lg-between align-items-lg-center pb-lg-3
  "
>
  <p>
    {{- '©' }}
    <time>{{ 'now' | date: '%Y' }}</time>
    {% if site.social.links %}
      <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>.
    {% else %}
      <em class="fst-normal">{{ site.social.name }}</em>.
    {% endif %}
    Notes are licensed
    <a
      href="{{ site.data.locales[include.lang].copyright.license.link }}"
      target="_blank"
      rel="noopener noreferrer"
    >{{ site.data.locales[include.lang].copyright.license.name }}</a>.
  </p>
</footer>
